<a href="https://colab.research.google.com/github/PolyGon-13/DataScience_Study/blob/main/Preprocessing/05_Feature_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [71]:
df=pd.read_csv('./data/auto-mpg.csv',header=None)

df.columns=['mpg','cylinder','displacement','horsepower','weight','acceleration','model year','origin','name']

df['horsepower']=df['horsepower'].replace('?',np.nan)
df=df.dropna(subset=['horsepower'],axis=0)
df['horsepower']=df['horsepower'].astype('float')

df['horsepower'].describe()

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: horsepower, dtype: float64

In [73]:
df['horsepower_minmax']=(df['horsepower']-df['horsepower'].min())/(df['horsepower'].max()-df['horsepower'].min())
df['horsepower_minmax'].head()

0    0.456522
1    0.646739
2    0.565217
3    0.565217
4    0.510870
Name: horsepower_minmax, dtype: float64

In [78]:
scaler=MinMaxScaler()

df['horsepower_minmax']=scaler.fit_transform(df[['horsepower']])
df['horsepower_minmax'].head()

0    0.456522
1    0.646739
2    0.565217
3    0.565217
4    0.510870
Name: horsepower_minmax, dtype: float64

In [75]:
df['horsepower_standard']=(df['horsepower']-df['horsepower'].mean())/df['horsepower'].std()
df['horsepower_standard'].head()

0    0.663285
1    1.572585
2    1.182885
3    1.182885
4    0.923085
Name: horsepower_standard, dtype: float64

In [77]:
scaler=StandardScaler()

df['horsepower_standard']=scaler.fit_transform(df[['horsepower']])
df['horsepower_standard'].head()

0    0.664133
1    1.574594
2    1.184397
3    1.184397
4    0.924265
Name: horsepower_standard, dtype: float64