<a href="https://colab.research.google.com/github/PolyGon-13/Data_Science/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
dict_data={'a':1,'b':2,'c':3}

sr=pd.Series(dict_data)

print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

In [9]:
list_data=['2019-01-02',3.14,'ABC',100,True]
sr=pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [10]:
idx=sr.index
print(idx)

RangeIndex(start=0, stop=5, step=1)

In [11]:
val=sr.values
print(val)

['2019-01-02' 3.14 'ABC' 100 True]

In [12]:
print(sr.dtype) # 시리즈를 구성하는 원소의 자료형

object

In [13]:
print(len(sr))

5

In [14]:
print(sr.shape) # 배열의 형태 (행 수, 열 수)

(5,)

In [15]:
print(sr.ndim) # 배열이나 데이터 구조의 차원 수

1

In [16]:
tup_data=('영인','2010-05-01','여',True)
sr=pd.Series(tup_data,index=['이름','생년월일','성별','학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [17]:
print(sr[0])
print(sr['이름'])

영인
영인

<ipython-input-17-fde94a2dcc2c>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [20]:
print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

<ipython-input-20-9062a4b408e9>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2]])

In [21]:
print(sr[1:2]) # 범위의 끝(2)은 미포함
print('\n')
print(sr['생년월일':'성별']) # 범위의 끝 포함

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [22]:
pd.Series() # 빈 배열 형태의 시리즈 객체 생성

Series([], dtype: object)

In [23]:
pd.Series(5)

0    5
dtype: int64

In [24]:
pd.Series(5,index=["a","b","c"]) # 인덱스 배열의 크기만큼 상수값 복제

a    5
b    5
c    5
dtype: int64