<a href="https://colab.research.google.com/github/PolyGon-13/Data_Science/blob/main/pandas/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [ ]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df=pd.DataFrame(dict_data)

print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [ ]:
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [4]:
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                index=['준서','예은'],
                columns=['나이','성별','학교'])
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [5]:
print(df.index)

Index(['준서', '예은'], dtype='object')

In [6]:
print(df.columns)

Index(['나이', '성별', '학교'], dtype='object')

In [7]:
df.index=['학생1','학생2']
df.columns=['연령','남녀','소속']

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [11]:
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                index=['준서','예은'],
                columns=['나이','성별','학교'])

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [12]:
cf=df.rename(columns={'나이':'연령','성별':'남녀','학교':'소속'}) # rename은 새로운 객체를 생성
print(cf)
print('\n')
print(df)

    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중


    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [14]:
cf=df.rename(index={'준서':'학생1','예은':'학생2'})
print(cf)
print('\n')
print(df)

     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중


    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [15]:
exam_data={'수학':[90,80,70],'영어':[98,89,95],
           '음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)

df2=df.copy()
df2=df2.drop('우현') # 행을 삭제할 때는 axis=0 또는 axis='index'로 설정 or 별도로 입력하지 않아도 됨
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [16]:
df3=df.copy()
df3=df3.drop(['우현','인아'],axis=0)
print(df3)

    수학  영어  음악   체육
서준  90  98  85  100

In [18]:
df4=df.copy()
df4=df4.drop(['우현','인아'],axis='index')
print(df4)

    수학  영어  음악   체육
서준  90  98  85  100

In [19]:
df5=df.copy()
df5=df5.drop(index=['우현'])
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [22]:
exam_data={'수학':[90,80,70],'영어':[98,89,95],
           '음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)

df2=df.copy()
df2=df2.drop('수학',axis=1) # 열을 삭제할 때는 axis=1 또는 axis='columns'로 설정
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [23]:
df3=df.copy()
df3=df3.drop(['영어','수학'],axis=1)
print(df3)

     음악   체육
서준   85  100
우현   95   90
인아  100   90

In [24]:
df4=df.copy()
df4=df4.drop(['영어','음악'],axis='columns')
print(df4)

    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [25]:
df5=df.copy()
df5=df5.drop(columns=['수학'])
print(df5)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [26]:
exam_data={'수학':[90,80,70],'영어':[98,89,95],
           '음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])

print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [27]:
label1=df.loc['서준']
position1=df.iloc[0]
print(label1)
print('\n')
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [28]:
label2=df.loc[['서준','우현']]
position2=df.iloc[[0,1]]
print(label2)
print('\n')
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [29]:
label3=df.loc['서준':'우현']
position3=df.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [30]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)
print('\n')
print(type(df))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


<class 'pandas.core.frame.DataFrame'>

In [31]:
math1=df['수학']
print(math1)
print('\n')
print(type(math1))

0    90
1    80
2    70
Name: 수학, dtype: int64


<class 'pandas.core.series.Series'>

In [32]:
english=df.영어
print(english)
print('\n')
print(type(english))

0    98
1    89
2    95
Name: 영어, dtype: int64


<class 'pandas.core.series.Series'>

In [33]:
music_gym=df[['음악','체육']]
print(music_gym)
print('\n')
print(type(music_gym))

    음악   체육
0   85  100
1   95   90
2  100   90


<class 'pandas.core.frame.DataFrame'>

In [34]:
math2=df[['수학']]
print(math2)
print('\n')
print(type(math2))

   수학
0  90
1  80
2  70


<class 'pandas.core.frame.DataFrame'>

In [36]:
cf=df.iloc[: : 2] # 시작 인덱스, 끝 인덱스, 슬라이싱 간격
cf

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [37]:
af=df.iloc[::-1] # 역순 정렬
af

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

In [50]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)

df=df.set_index('이름')
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [41]:
a=df.loc['서준','음악']
print(a)
b=df.iloc[0,2]
print(b)

85
85

In [43]:
c=df.loc['서준',['음악','체육']]
print(c)

d=df.iloc[0,[2,3]]
print(d)

e=df.loc['서준','음악':'체육']
print(e)

f=df.iloc[0,2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [51]:
g=df.loc[['서준','우현'],['음악','체육']]
print(g)

h=df.iloc[[0,1],[2,3]]
print(h)

i=df.loc['서준':'우현','음악':'체육']
print(i)

j=df.iloc[0:2,2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

In [53]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)

df['국어']=80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [56]:
df['미술']=[80,90,100]
print(df)

   이름  수학  영어   음악   체육  국어   미술
0  서준  90  98   85  100  80   80
1  우현  80  89   95   90  80   90
2  인아  70  95  100   90  80  100

In [58]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)
print('\n')

df.loc[3]=0
print(df)
print('\n')

df.loc[4]=['동규',90,80,70,60]
print(df)
print('\n')

df.loc['행5']=df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [59]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)

df=df.set_index('이름')
print(df)
print('\n')

df.iloc[0][3]=80
print(df)
print('\n')

df.loc['서준']['체육']=90
print(df)
print('\n')

df.loc['서준','체육']=100
print(df)
print('\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

<ipython-input-59-df4f3035d7d3>:13: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[0][3]=80

In [60]:
df.loc['서준',['음악','체육']]=50
print(df)

df.loc['서준',['음악','체육']]=100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90
    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

In [61]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}

df=pd.DataFrame(exam_data)
print(df)

df=df.transpose()
print(df)

df=df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90