<a href="https://colab.research.google.com/github/PolyGon-13/DataScience_Study/blob/main/pandas/Series_Calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
student1=pd.Series({'국어':100,'영어':80,'수학':90})
print(student1)

percentage=student1/200

print(percentage)
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64
국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
student1=pd.Series({'국어':100,'영어':80,'수학':90})
student2=pd.Series({'수학':80,'국어':90,'영어':80})

print(student1)
print('\n')
print(student2)
print('\n')

addition=student1+student2
print(type(addition))
print(addition)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64


<class 'pandas.core.series.Series'>
국어    190
수학    170
영어    160
dtype: int64

In [ ]:
subtraction=student1-student2
print(type(subtraction))
print(subtraction)

<class 'pandas.core.series.Series'>
국어    10
수학    10
영어     0
dtype: int64

In [ ]:
multiplication=student1*student2
print(type(multiplication))
print(multiplication)

<class 'pandas.core.series.Series'>
국어    9000
수학    7200
영어    6400
dtype: int64

In [ ]:
division=student1/student2
print(type(division))
print(division)

<class 'pandas.core.series.Series'>
국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [ ]:
result=pd.DataFrame([addition,subtraction,multiplication,division],index=['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [ ]:
student1=pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2=pd.Series({'수학':80,'국어':90})

print(student1)
print(student2)

addition=student1+student2
subtraction=student1-student2
multiplication=student1*student2
division=student1/student2
print(type(division))
print('\n')

result=pd.DataFrame([addition,subtraction,multiplication,division],index=['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64
수학    80
국어    90
dtype: int64
<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [3]:
student1=pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2=pd.Series({'수학':80,'국어':90})

print(student1)
print(student2)
print('\n')

sr_add=student1.add(student2,fill_value=0)
sr_sub=student1.sub(student2,fill_value=0)
sr_mul=student1.mul(student2,fill_value=0)
sr_div=student1.div(student2,fill_value=0)

result=pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],index=['덧셈','뺄셈','곱셈','나눗셈'])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64
수학    80
국어    90
dtype: int64


       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf