<a href="https://colab.research.google.com/github/PolyGon-13/DataScience_Study/blob/main/pandas/05_DataFrame_Calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
titanic=sns.load_dataset('titanic')
df=titanic.loc[:,['age','fare']]
print(df.head()) # 처음 5줄의 데이터를 출력
print('\n')
print(type(df))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>

In [3]:
addition=df+10
print(addition.head())
print('\n')
print(type(addition))

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

In [4]:
titanic=sns.load_dataset('titanic')
df=titanic.loc[:,['age','fare']]
print(df.tail()) # 마지막 5줄의 데이터를 출력
print('\n')
print(type(df))
print('\n')

addition=df+10
print(addition.tail())
print('\n')
print(type(addition))
print('\n')

subtraction=addition-df
print(subtraction.tail())
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>

In [5]:
sample1=addition.tail()
sample2=subtraction.tail().fillna(0.0)

print(sample1)
print(sample2)

      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75
      age  fare
886  10.0  10.0
887  10.0  10.0
888   0.0  10.0
889  10.0  10.0
890  10.0  10.0

In [9]:
df_add=sample1.add(sample2,fill_value=0)
df_sub=sample1.sub(sample2,fill_value=0)
df_mul=sample1.mul(sample2,fill_value=0)
df_div=sample1.div(sample2,fill_value=0)

print(df_add)
print(df_sub)
print(df_mul)
print(df_div)

      age   fare
886  47.0  33.00
887  39.0  50.00
888   0.0  43.45
889  46.0  50.00
890  52.0  27.75
      age   fare
886  27.0  13.00
887  19.0  30.00
888   0.0  23.45
889  26.0  30.00
890  32.0   7.75
       age   fare
886  370.0  230.0
887  290.0  400.0
888    0.0  334.5
889  360.0  400.0
890  420.0  177.5
     age   fare
886  3.7  2.300
887  2.9  4.000
888  NaN  3.345
889  3.6  4.000
890  4.2  1.775